{% extends "base.html" %}
{% block start %}

    <div class="container mt-5">
        <form class="col-6 mx-auto card p-3 shadow-1g" method="post">
            {% csrf_token %}
            <h2>Add Shop Details</h2>
            <hr>
             <div class="mb-3">
                <label for="shopname" class="form-label">Shop name</label>
                <input name="shop_name" required type="text" class="form-control">
             </div>
             <div class="mb-3">
                <label for="shop_type" class="form-label">Shop type</label>
                <input name="shop_type" required type="text" class="form-control">
             </div>
             <div class="mb-3">
                <label for="latitude" class="form-label">latitude</label>
                <input name="latitude" required type="text" class="form-control">
             </div>
             <div class="mb-3">
                <label for="longitude" class="form-label">longitude</label>
                <input name="longitude" required type="text" class="form-control">
             </div>
             <button type="submit" class="btn btn-success">Add Shop</button>
             
        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Shop Name</th>
                <th scope="col">Shop Type</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for shop in shops %} 
              <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td>{{shop.shop_name}}</td>
                <td>{{shop.shop_type}}</td>
                <td>{{shop.latitude}}</td>
                <td>{{shop.longitude}} </td>
                <td>
                    <a href="/delete_shop/{{shop.id}}/" class="btn btn-danger m-2">Delete</a>
                    <a href="/update_shop/{{shop.id}}/" class="btn btn-danger">Update</a>
                </td>
                
              </tr>
             {% endfor %}
            </tbody>
          </table>
    </div>
 </body>
</html>
{% endblock %}